<%- include('layouts/head.ejs')%>

    <body>
        <%- include('layouts/navigation.ejs')%>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <%- include('layouts/sidebar.ejs')%>
                        <div class="col-lg-9">
                            <%- include('layouts/carousel.ejs')%>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <% if (order === null || order.orderlist.products.length == 0) {%>

                                            <h2>No item in Order</h2>

                                            <%} else {%>
                                                <h2>Order detail</h2>

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Title</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">status</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(let i = 0; i < order.orderlist.products.length-(order.orderlist.products.length-1) ; i++){
                                                         
                                                        %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= i+1%>
                                                                </th>
                                                                <td>
                                                                    Order<%= i+1%>
                                                                </td>
                                                                <td>
                                                                    <%= order.totalPrice%>
                                                                </td>
                                                                <td>
                                                                queue
                                                                </td>
                                                               
                                                            </tr>
                                                  
                                                         <%}%>
                                                          
                                                    </tbody>
                                                </table>


                                                <%}%>

                                                    <br>
                                    </div>

                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <%- include('layouts/end.ejs')%>